@header-height: 64px;

:local(.headerContainer) {
    display: flex;
    background: #fff;
    //height: @header-height;
    width: 100%;

    .ant-layout-header {
        background: #f0f2f5;
        display: flex;
        width: 100%;

        :local(.logo) {
            display: inline-block;
            margin-right: 10px;
            img {
                width: 180px;
            }
        }

        :local(.menuWrapper) {
            line-height: @header-height;
            background: #f0f2f5;
            border-bottom: 0;
        }
    }
}
