$genRad = 4px;
$smalRad = 3px;

$fSexLarge = 35px;
$fSlarge = 28px;
$fSmiddle = 25px;
$fSsmall = 21px;
$fSxsmall = 18px;
$fSexsmall = 14px;
$fSexXsmall = 12px;

$primary = #07286a;
$primary-dark = #062461;
$primary-hover = #07254a;
$white = #fff;

$bg1 = #f39833;
$lightBg1 = #f6b770;
$darkenBg1 = #c37a29;

$bg2 = #fb434a;
$lightBg2 = #fc7b80;
$darkenBg2 = #c9353b;

$bg3 = #059bca;
$lightBg3 = #50b9da;
$darkenBg3 = #047ca2;

$bg4 = #2dbfed;
$lightBg4 = #6cd2f2;
$darkenBg4 = #2499be;

$bg5 = #0aca9a;
$lightBg5 = #53dab8;
$darkenBg5 = #08a27b;

$bg6 = #acb7bf;
$lightBg6 = #bdc7ce;
$darkenBg6 = #929ca2;

$bg7 = #dbdee4;
$bg8 = #dfe4ed;
$bg9 = #edeff4;
$bg10 = #fff;
$bg11 = #827ca1;
$bg12 = #514d6a;
$bg13 = #2b2838;
$bg14 = #f2f4f8;
$bg15 = #e4e9f0;
$bg16 = #000;

$bg17 = #5ab8b8;
$lightBg17 = #62c8c8;
$darkenBg17 = #54a7a7;

/* border */
$brCol1 = $bg1;
$lightBrCol1 = $lightBg1;
$darkenBrCol1 = $darkenBg1;

$brCol2 = $bg2;
$lightBrCol2 = $lightBg2;
$darkenBrCol2 = $darkenBg2;

$brCol3 = $bg3;
$lightBrCol3 = $lightBg3;
$darkenBrCol3 = $darkenBg3;

$brCol4 = $bg4;
$lightBrCol4 = $lightBg4;
$darkenBrCol4 = $darkenBg4;

$brCol5 = $bg5;
$lightBrCol5 = $lightBg5;
$darkenBrCol5 = $darkenBg5;

$brCol6 = $bg6;
$lightBrCol6 = $lightBg6;
$darkenBrCol6 = $darkenBg6;

$brCol8 = $bg8;
$brCol9 = $bg9;
$brCol10 = $bg10;
$brCol11 = $bg11;
$brCol13 = $bg13;
$brCol15 = $bg15;
$brCol16 = $bg16;

$brCol17 = $bg17;
$lightBrCol17 = $lightBg17;
$darkenBrCol17 = $darkenBg17;

/* color */
$clr1 = $bg1;
$lightClr1 = $lightBg1;
$darkenClr1 = $darkenBg1;

$clr2 = $bg2;
$lightClr2 = $lightBg2;
$darkenClr2 = $darkenBg2;

$clr3 = $bg3;
$lightClr3 = $lightBg3;
$darkenClr3 = $darkenBg3;

$clr4 = $bg4;
$lightClr4 = $lightBg4;
$darkenClr4 = $darkenBg4;

$clr5 = $bg5;
$lightClr5 = $lightBg5;
$darkenClr5 = $darkenBg5;

$clr6 = $bg6;
$lightClr6 = $lightBg6;
$darkenClr6 = $darkenBg6;

$clr10 = $bg10;
$clr11 = $bg11;
$clr12 = $bg12;
$clr13 = $bg13;
$clr16 = $bg16;
$textColor = #fff;
$errorText = #e2060f;

/* Brand */
$brandBg1 = #059bca;
$brandBg12 = #2acbcb;
$brandBg13 = #0aca9a;
$brandBg14 = #5139d0;
$brandBg15 = #2c3085;
$brandBg16 = #07286a;
