@import "../../../assets/_palette";

:local(.pageContent) {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .react-tabs__tab--selected {
        border-color: @brand_color;
    }
}
:local(.tabsBar) {
    display: flex;
    justify-items: flex-start;
    align-items: center;
}
